<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>204411231018-eseg516cgue9462jh1joino3v2oujvtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204411231018-eseg516cgue9462jh1joino3v2oujvtv</string>
	<key>API_KEY</key>
	<string>AIzaSyC1ydegNpX0P2_8wuSfhvetEhAraic1eMg</string>
	<key>GCM_SENDER_ID</key>
	<string>204411231018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.408industries.geoMessenger</string>
	<key>PROJECT_ID</key>
	<string>geomessenger-e3dc5</string>
	<key>STORAGE_BUCKET</key>
	<string>geomessenger-e3dc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204411231018:ios:550f1c21dab3e8cb</string>
	<key>DATABASE_URL</key>
	<string>https://geomessenger-e3dc5.firebaseio.com</string>
</dict>
</plist>